### Iris Data Set

In [ ]:
class(iris)

In [ ]:
names(iris)

In [ ]:
head(iris)

In [ ]:
data <- iris[c(1:4)]

In [ ]:
head(data)

In [ ]:
summary(data)

In [ ]:
pairs(data, pch=16, col="blue")

In [ ]:
cor(data)

In [ ]:
boxplot(data, col=rainbow(4))

In [ ]:
hist(data$Sepal.Length, col="blue")

### Titanic Data

In [ ]:
class(Titanic)

In [ ]:
dim(Titanic)

In [ ]:
dimnames(Titanic)

In [ ]:
# By Sex
t1 <- margin.table(Titanic, c(2))
t1

In [ ]:
mosaicplot(t1, col=c("red", "blue"))

In [ ]:
# Sex, Survived
t2 <- margin.table(Titanic, c(2,4))
t2

In [ ]:
class(t2)

In [ ]:
mosaicplot(t2, col=c("red", "blue"))

In [ ]:
m2 <- apply(Titanic, c(2,4), sum)
m2

In [ ]:
class(m2)

In [ ]:
mosaicplot(m2, col=c("red", "blue"))

In [ ]:
# Class, Survived
t3 <- margin.table(Titanic, c(1, 4))
t3

In [ ]:
mosaicplot(t3, col=c("red", "blue"))

In [ ]:
# Class, Age, Survived
margin.table(Titanic, c(1,3,4))

## apply

In [ ]:
help(apply)

Given the following sales data, where each row represents the sales of the stores 
  and each column represents the weekly sales of that store:

data <- c(80, 75, 85, 82, 
          90, 88, 92, 95,
          81, 78, 84, 87)

sales <- matrix(data,
                 nrow = 3, ncol = 4,
                 byrow = TRUE)

a) What are the maximum sales for each store?
b) What are the maximum sales for each week?

In [ ]:
data <- c(80, 75, 85, 82, 
          90, 88, 92, 95,
          81, 78, 84, 87)

sales <- matrix(data,
                 nrow = 3, ncol = 4,
                 byrow = TRUE)

sales

In [ ]:
# By row (maximum sales for each store)
apply(sales, 1, max)

In [ ]:
# By column (maximum sales for each week)
apply(sales, 2, max)

##### Show for each store which week's sales differ from its median sales by the most. Use <em>apply</em> with a user-defined function.

In [ ]:
find.outlier <- function (data) {
  deviations <- abs(data - median(data))
  return (which.max(deviations))
}

In [ ]:
outliers <- apply(sales, 1, find.outlier)
outliers

In [ ]:
paste("Store ", 1:nrow(sales), "- Week ", outliers)

## sweep

In [ ]:
data <- c(80, 75, 85, 82, 
          90, 88, 92, 95,
          81, 78, 84, 87)

sales <- matrix(data,
                 nrow = 3, ncol = 4,
                 byrow = TRUE)

sales

In [ ]:
sweep(sales, 1, c(2,3,4), FUN="*")

In [ ]:
apply(sales, 1, max)

In [ ]:
sweep(sales, 1, apply(sales, 1, max), FUN="-")

## tapply

In [ ]:
help(tapply)

Given voter's data

ages <- c(25,26,55,37,21,42)

affils <- c("R","D","D","R","U","D")

show the average age of the voters for each affiliation.

In [ ]:
ages <- c(25,26,55,37,21,42)
ages

In [ ]:
affils <- c("R","D","D","R","U","D")
affils

In [ ]:
tapply(ages, affils, mean)

Given the following data frame

d <- data.frame(
        gender=c("M","M","F","M","F","F"),        
        age=c(47,59,21,32,33,24),
        income=c(55000,88000,32450,76500,123000,45650))

what is the average income by gender?

In [ ]:
d <- data.frame( 
    gender=c("M","M","F","M","F","F"), 
    age=c(47,59,21,32,33,24),
    income=c(55000,88000,32450,76500,123000,45650))
d

In [ ]:
# average income by gender
tapply(d$income,d$gender,mean)

In [ ]:
# average age by gender
tapply(d$age,d$gender,mean)

##### For the above data, what is the average income for people whose age is over 25 versus people whose age is 25 or below?

In [ ]:
d$over25 <- ifelse(d$age > 25,TRUE,FALSE)
d

In [ ]:
tapply(d$income,d$over25,mean)

##### For the above data, explore the average income by both the gender and over 25.

In [ ]:
tapply(d$income,list(d$gender,d$over25),mean)

In [ ]:
tapply(d$income,list(d$gender,d$over25),length)

In [ ]:
help(split)

In [ ]:
d

In [ ]:
split(d$income,d$gender)

In [ ]:
class(split(d$income,d$gender))

In [ ]:
split(d$income,d$over25)

In [ ]:
split(d$income,list(d$gender,d$over25))

## lapply

In [ ]:
help(lapply)

In [ ]:
d

In [ ]:
lapply(d, mean)

In [ ]:
sapply(d, mean)

In [ ]:
team.names  <- c("Patriots", "Red Sox")
player.names <- c("Brady", "Federer", "Pele")

favorites <- list(teams = team.names, 
                  players = player.names)
                  
favorites

In [ ]:
lapply(favorites, length)

In [ ]:
sapply(favorites, length)

#### Abraham Lincoln's Gettysburg Address

Four score and seven years ago our fathers brought forth upon this continent, a new nation, conceived in liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battlefield of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate - we can not consecrate - we can not hallow - this ground. The brave men, living and dead, who struggled here have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us - that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion - that we here highly resolve that these dead shall not have died in vain - that this nation, under God, shall have a new birth of freedom - and that government of the people, by the people, and for the people, shall not perish from the earth.

In [ ]:
file <- "http://kalathur.com/cs544/data/lincoln.txt"

In [ ]:
words <- scan(file, what=character())

In [ ]:
length(words)

In [ ]:
head(words)

In [ ]:
words <- tolower(words)

In [ ]:
head(words)

In [ ]:
tail(words, n = 10)

In [ ]:
words <- gsub("[[:punct:]]", "", words)

In [ ]:
tail(words, n = 10)

In [ ]:
words[nchar(words) == 0]

In [ ]:
words <- words[nchar(words) != 0]

In [ ]:
length(words)

In [ ]:
length(unique(words))

In [ ]:
unique(words)

In [ ]:
table(words)

In [ ]:
word_list <- list()

In [ ]:
  for (i in 1:length(words)) {
    wrd <- words[i]
    word_list[[wrd]] <- c(word_list[[wrd]],i) 
  }

In [ ]:
head(word_list)

In [ ]:
length(word_list)

In [ ]:
names(word_list)

In [ ]:
word_list$the

In [ ]:
word_list$people

In [ ]:
word_list$`in`

In [ ]:
word_list[["in"]]

In [ ]:
result1 <- lapply(word_list, length)

In [ ]:
head(result1)

In [ ]:
result2 <- sapply(word_list, length)

In [ ]:
head(result2)

In [ ]:
# alphabetic order
x <- result2[order(names(result2))]
head(x)

In [ ]:
#sorted order by frequencies (top 5)
result2[order(result2, decreasing = TRUE)][1:5]

In [ ]:
sort(result2, decreasing = TRUE)[1:5]

In [ ]:
barplot(sort(result2, decreasing = TRUE)[1:5])