# SparkR Sample - USA Daily Temperatures

In [1]:
Sys.getenv("SPARK_HOME")

[1] "/Users/skalathur/MyApps/spark"

In [2]:
# Set the correct value for SPARK_HOME if not set in your environment
if (nchar(Sys.getenv("SPARK_HOME")) < 1) {
  Sys.setenv(SPARK_HOME = "/Users/skalathur/MyApps/spark")
}

In [3]:
Sys.setenv(SPARK_LOCAL_IP="localhost")

In [4]:
# load the SparkR library (wait until it loads)
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window

The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union

In [5]:
# Start the Spark Session, wait until it starts
sparkR.session(master = "local[*]", sparkConfig = list(spark.driver.memory = "2g"))

Spark package found in SPARK_HOME: /Users/skalathur/MyApps/spark

Launching java with spark-submit command /Users/skalathur/MyApps/spark/bin/spark-submit   --driver-memory "2g" sparkr-shell /var/folders/s3/hy6_p79n3w1fw802t6ps40qr0000gp/T//Rtmpi1F4En/backend_port143353f517b08

Java ref type org.apache.spark.sql.SparkSession id 1

In [6]:
inputFile <- "/temp/datasets/usa_daily_avg_temps.csv"

In [7]:
# Read the csv file as a SparkDataFrame
usaDailyTemps <- read.df(inputFile, source = "csv", 
                         header='true', 
                         inferSchema='true')

usaDailyTemps

SparkDataFrame[state:string, city:string, month:int, day:int, year:int, avgtemp:double]

In [8]:
printSchema(usaDailyTemps)

root
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- avgtemp: double (nullable = true)

In [9]:
count(usaDailyTemps)

[1] 1174605

In [10]:
head(usaDailyTemps)

  state   city       month day year avgtemp
1 Alabama Birmingham 1     1   1995 50.7
2 Alabama Birmingham 1     1   1996 56.8
3 Alabama Birmingham 1     1   1997 60.9
4 Alabama Birmingham 1     1   1998 35.6
5 Alabama Birmingham 1     1   1999 41.0
6 Alabama Birmingham 1     1   2000 59.0

### Aggregate to find the maximum of avgtemp

In [11]:
maxAvgTemp <- summarize(usaDailyTemps, max(usaDailyTemps$avgtemp))
maxAvgTemp

SparkDataFrame[max(avgtemp):double]

In [12]:
count(maxAvgTemp)

[1] 1

In [13]:
# collect to local data frame
collect(maxAvgTemp)

  max(avgtemp)
1 107.5

In [14]:
# Provide the appropriate column name (MaxValue)
maxAvgTemp <- summarize(usaDailyTemps, MaxValue = max(usaDailyTemps$avgtemp))
maxAvgTemp

SparkDataFrame[MaxValue:double]

In [15]:
localDf <- collect(maxAvgTemp)
localDf

  MaxValue
1 107.5

In [16]:
# Filter the SparkDataFrame to find the rows with the max value
maxData <- filter(usaDailyTemps, usaDailyTemps$avgtemp == localDf[1, 'MaxValue'])
maxData

SparkDataFrame[state:string, city:string, month:int, day:int, year:int, avgtemp:double]

In [17]:
# collect to local data frame
collect(maxData)

  state   city month day year avgtemp
1 Arizona Yuma 7     22  2006 107.5

### Aggregate to find the maximum of avgtemp grouping by Year

In [18]:
maxTempByYear <- summarize(groupBy(usaDailyTemps, usaDailyTemps$Year), 
                           MaxValue = max(usaDailyTemps$avgtemp))
maxTempByYear

SparkDataFrame[Year:int, MaxValue:double]

In [19]:
count(maxTempByYear)

[1] 21

In [20]:
collect(maxTempByYear)

   Year MaxValue
1  2003 105.8
2  2007 104.4
3  2015 105.1
4  2006 107.5
5  2013 104.9
6  1997 100.6
7  2014 103.8
8  2004 101.0
9  1996 104.3
10 1998 103.0
11 2012 103.4
12 2009 103.3
13 1995 104.3
14 2001 104.4
15 2005 105.5
16 2000 101.6
17 2010 103.4
18 2011 103.1
19 2008 102.9
20 1999 100.1
21 2002 102.6

In [21]:
arrange(maxTempByYear, maxTempByYear$Year)

SparkDataFrame[Year:int, MaxValue:double]

In [22]:
collect(arrange(maxTempByYear, maxTempByYear$Year))

   Year MaxValue
1  1995 104.3
2  1996 104.3
3  1997 100.6
4  1998 103.0
5  1999 100.1
6  2000 101.6
7  2001 104.4
8  2002 102.6
9  2003 105.8
10 2004 101.0
11 2005 105.5
12 2006 107.5
13 2007 104.4
14 2008 102.9
15 2009 103.3
16 2010 103.4
17 2011 103.1
18 2012 103.4
19 2013 104.9
20 2014 103.8
21 2015 105.1

### Aggregate to find the maximum of avgtemp grouping by State

In [23]:
maxTempByState <- summarize(groupBy(usaDailyTemps, usaDailyTemps$State), 
                           MaxValue = max(usaDailyTemps$avgtemp))
maxTempByState

SparkDataFrame[State:string, MaxValue:double]

In [24]:
count(maxTempByState)

[1] 50

In [25]:
collect(maxTempByState)

   State          MaxValue
1  Utah            92.2
2  Hawaii          87.2
3  Minnesota       92.0
4  Ohio            91.2
5  Arkansas       100.7
6  Oregon          97.3
7  Texas           98.5
8  North Dakota    91.7
9  Pennsylvania    92.9
10 Connecticut     89.8
11 Nebraska        93.2
12 Vermont         87.4
13 Nevada         105.5
14 Washington      97.7
15 Illinois        92.3
16 Oklahoma       100.4
17 Delaware        89.7
18 Alaska          79.5
19 New Mexico      89.4
20 West Virginia   92.5
21 Missouri        96.3
22 Rhode Island    89.2
23 Georgia         97.7
24 Montana        100.1
25 Michigan        89.4
26 Virginia        93.5
27 North Carolina  91.0
28 Wyoming         87.1
29 Kansas          96.1
30 New Jersey      95.6
31 Maryland        92.8
32 Alabama         91.5
33 Arizona        107.5
34 Iowa            93.0
35 Massachusetts   90.7
36 Kentucky        93.2
37 Louisiana       95.4
38 Mississippi     92.8
39 New Hampshire   88.0
40 Tennessee       94.1
41 Florida         92.8
42 Indiana         94.0
43 Idaho           94.2
44 South Carolina  92.8
45 South Dakota    94.3
46 California     102.6
47 New York        93.7
48 Wisconsin       92.2
49 Colorado        94.7
50 Maine           89.1

In [26]:
arrange(maxTempByState, maxTempByState$State)

SparkDataFrame[State:string, MaxValue:double]

In [27]:
collect(arrange(maxTempByState, maxTempByState$State))

   State          MaxValue
1  Alabama         91.5
2  Alaska          79.5
3  Arizona        107.5
4  Arkansas       100.7
5  California     102.6
6  Colorado        94.7
7  Connecticut     89.8
8  Delaware        89.7
9  Florida         92.8
10 Georgia         97.7
11 Hawaii          87.2
12 Idaho           94.2
13 Illinois        92.3
14 Indiana         94.0
15 Iowa            93.0
16 Kansas          96.1
17 Kentucky        93.2
18 Louisiana       95.4
19 Maine           89.1
20 Maryland        92.8
21 Massachusetts   90.7
22 Michigan        89.4
23 Minnesota       92.0
24 Mississippi     92.8
25 Missouri        96.3
26 Montana        100.1
27 Nebraska        93.2
28 Nevada         105.5
29 New Hampshire   88.0
30 New Jersey      95.6
31 New Mexico      89.4
32 New York        93.7
33 North Carolina  91.0
34 North Dakota    91.7
35 Ohio            91.2
36 Oklahoma       100.4
37 Oregon          97.3
38 Pennsylvania    92.9
39 Rhode Island    89.2
40 South Carolina  92.8
41 South Dakota    94.3
42 Tennessee       94.1
43 Texas           98.5
44 Utah            92.2
45 Vermont         87.4
46 Virginia        93.5
47 Washington      97.7
48 West Virginia   92.5
49 Wisconsin       92.2
50 Wyoming         87.1

### Aggregate to find the number of entries grouping by State

In [28]:
stateCounts <- summarize(groupBy(usaDailyTemps, usaDailyTemps$state), 
                         count = n(usaDailyTemps$state))
stateCounts

SparkDataFrame[state:string, count:bigint]

In [29]:
collect(arrange(stateCounts, desc(stateCounts$count)))

   state          count
1  Texas          106736
2  Ohio            53368
3  Florida         51495
4  Pennsylvania    43871
5  Michigan        38120
6  California      38120
7  New York        38120
8  Oregon          30496
9  Illinois        30496
10 Georgia         30496
11 North Carolina  30496
12 Alabama         30496
13 Tennessee       30496
14 Indiana         30496
15 Colorado        30496
16 Louisiana       28670
17 Arizona         23202
18 Nebraska        22872
19 Washington      22872
20 Alaska          22872
21 Missouri        22872
22 Montana         22872
23 Virginia        22872
24 Kansas          22872
25 Kentucky        22872
26 Wisconsin       22872
27 Minnesota       15248
28 Arkansas        15248
29 North Dakota    15248
30 Connecticut     15248
31 Nevada          15248
32 Oklahoma        15248
33 West Virginia   15248
34 Wyoming         15248
35 New Jersey      15248
36 Maryland        15248
37 Iowa            15248
38 Mississippi     15248
39 Idaho           15248
40 South Carolina  15248
41 South Dakota    15248
42 Maine           15248
43 Utah             7624
44 Hawaii           7624
45 Vermont          7624
46 New Mexico       7624
47 Rhode Island     7624
48 Massachusetts    7624
49 New Hampshire    7624
50 Delaware         5751

In [ ]:
### Aggregate to find the number of entries grouping by State and City

In [30]:
stateCityCounts <- summarize(groupBy(usaDailyTemps, usaDailyTemps$state, usaDailyTemps$city), 
                             count = n(usaDailyTemps$state))
stateCityCounts

SparkDataFrame[state:string, city:string, count:bigint]

In [31]:
collect(arrange(stateCityCounts, asc(stateCityCounts$state)))

    state         city                 count
1   Alabama       Huntsville           7624
2   Alabama       Birmingham           7624
3   Alabama       Montgomery           7624
4   Alabama       Mobile               7624
5   Alaska        Fairbanks            7624
6   Alaska        Anchorage            7624
7   Alaska        Juneau               7624
8   Arizona       Tucson               7624
9   Arizona       Phoenix              7624
10  Arizona       Yuma                 4380
11  Arizona       Flagstaff            3574
12  Arkansas      Fort Smith           7624
13  Arkansas      Little Rock          7624
14  California    San Francisco        7624
15  California    Fresno               7624
16  California    San Diego            7624
17  California    Los Angeles          7624
18  California    Sacramento           7624
19  Colorado      Pueblo               7624
20  Colorado      Colorado Springs     7624
21  Colorado      Denver               7624
22  Colorado      Grand Junction       7624
23  Connecticut   Hartford Springfield 7624
24  Connecticut   Bridgeport           7624
25  Delaware      Wilmington           5751
26  Florida       Tallahassee          7624
27  Florida       Orlando              7624
28  Florida       Daytona Beach        5751
29  Florida       Jacksonville         7624
30  Florida       Miami Beach          7624
⋮   ⋮             ⋮                    ⋮
127 Tennessee     Knoxville            7624
128 Texas         San Antonio          7624
129 Texas         Wichita Falls        7624
130 Texas         Abilene              7624
131 Texas         Dallas Ft Worth      7624
132 Texas         Waco                 7624
133 Texas         Lubbock              7624
134 Texas         Corpus Christi       7624
135 Texas         Midland Odessa       7624
136 Texas         Brownsville          7624
137 Texas         San Angelo           7624
138 Texas         El Paso              7624
139 Texas         Amarillo             7624
140 Texas         Austin               7624
141 Texas         Houston              7624
142 Utah          Salt Lake City       7624
143 Vermont       Burlington           7624
144 Virginia      Roanoke              7624
145 Virginia      Norfolk              7624
146 Virginia      Richmond             7624
147 Washington    Spokane              7624
148 Washington    Seattle              7624
149 Washington    Yakima               7624
150 West Virginia Charleston           7624
151 West Virginia Elkins               7624
152 Wisconsin     Madison              7624
153 Wisconsin     Milwaukee            7624
154 Wisconsin     Green Bay            7624
155 Wyoming       Cheyenne             7624
156 Wyoming       Casper               7624

In [32]:
collect(arrange(stateCityCounts, asc(stateCityCounts$state),
                asc(stateCityCounts$city)))

    state         city                 count
1   Alabama       Birmingham           7624
2   Alabama       Huntsville           7624
3   Alabama       Mobile               7624
4   Alabama       Montgomery           7624
5   Alaska        Anchorage            7624
6   Alaska        Fairbanks            7624
7   Alaska        Juneau               7624
8   Arizona       Flagstaff            3574
9   Arizona       Phoenix              7624
10  Arizona       Tucson               7624
11  Arizona       Yuma                 4380
12  Arkansas      Fort Smith           7624
13  Arkansas      Little Rock          7624
14  California    Fresno               7624
15  California    Los Angeles          7624
16  California    Sacramento           7624
17  California    San Diego            7624
18  California    San Francisco        7624
19  Colorado      Colorado Springs     7624
20  Colorado      Denver               7624
21  Colorado      Grand Junction       7624
22  Colorado      Pueblo               7624
23  Connecticut   Bridgeport           7624
24  Connecticut   Hartford Springfield 7624
25  Delaware      Wilmington           5751
26  Florida       Daytona Beach        5751
27  Florida       Jacksonville         7624
28  Florida       Miami Beach          7624
29  Florida       Orlando              7624
30  Florida       Tallahassee          7624
⋮   ⋮             ⋮                    ⋮
127 Tennessee     Nashville            7624
128 Texas         Abilene              7624
129 Texas         Amarillo             7624
130 Texas         Austin               7624
131 Texas         Brownsville          7624
132 Texas         Corpus Christi       7624
133 Texas         Dallas Ft Worth      7624
134 Texas         El Paso              7624
135 Texas         Houston              7624
136 Texas         Lubbock              7624
137 Texas         Midland Odessa       7624
138 Texas         San Angelo           7624
139 Texas         San Antonio          7624
140 Texas         Waco                 7624
141 Texas         Wichita Falls        7624
142 Utah          Salt Lake City       7624
143 Vermont       Burlington           7624
144 Virginia      Norfolk              7624
145 Virginia      Richmond             7624
146 Virginia      Roanoke              7624
147 Washington    Seattle              7624
148 Washington    Spokane              7624
149 Washington    Yakima               7624
150 West Virginia Charleston           7624
151 West Virginia Elkins               7624
152 Wisconsin     Green Bay            7624
153 Wisconsin     Madison              7624
154 Wisconsin     Milwaukee            7624
155 Wyoming       Casper               7624
156 Wyoming       Cheyenne             7624

### Number of cities for each state in the dataset

In [33]:
collect(summarize(groupBy(stateCityCounts, stateCityCounts$state), 
                  count = n(stateCityCounts$state)))

   state          count
1  Utah            1
2  Hawaii          1
3  Minnesota       2
4  Ohio            7
5  Oregon          4
6  Arkansas        2
7  Texas          14
8  North Dakota    2
9  Pennsylvania    6
10 Connecticut     2
11 Nebraska        3
12 Vermont         1
13 Nevada          2
14 Washington      3
15 Illinois        4
16 Oklahoma        2
17 Delaware        1
18 Alaska          3
19 New Mexico      1
20 West Virginia   2
21 Missouri        3
22 Rhode Island    1
23 Georgia         4
24 Montana         3
25 Virginia        3
26 Michigan        5
27 North Carolina  4
28 Wyoming         2
29 Kansas          3
30 New Jersey      2
31 Maryland        2
32 Alabama         4
33 Arizona         4
34 Iowa            2
35 Massachusetts   1
36 Kentucky        3
37 Louisiana       4
38 Mississippi     2
39 Tennessee       4
40 New Hampshire   1
41 Florida         7
42 Indiana         4
43 Idaho           2
44 South Carolina  2
45 South Dakota    2
46 California      5
47 New York        5
48 Wisconsin       3
49 Colorado        4
50 Maine           2

### Create a subset SparkDataFrame for Boston

In [34]:
bostonDailyTemps <- subset(usaDailyTemps, usaDailyTemps$city == 'Boston')
bostonDailyTemps

SparkDataFrame[state:string, city:string, month:int, day:int, year:int, avgtemp:double]

In [35]:
count(bostonDailyTemps)

[1] 7624

In [36]:
bostonAvgTempsByYear <- summarize(groupBy(bostonDailyTemps, bostonDailyTemps$Year), 
                               Average = avg(bostonDailyTemps$avgtemp))
bostonAvgTempsByYear

SparkDataFrame[Year:int, Average:double]

In [37]:
collect(
  arrange(bostonAvgTempsByYear, bostonAvgTempsByYear$Year)
  )

   Year Average
1  1995 51.32027
2  1996 47.71749
3  1997 50.83863
4  1998 51.51562
5  1999 52.33945
6  2000 50.36148
7  2001 52.42822
8  2002 50.41205
9  2003 49.73014
10 2004 50.52514
11 2005 50.97726
12 2006 53.02055
13 2007 51.12219
14 2008 50.95355
15 2009 50.32247
16 2010 53.47205
17 2011 53.22384
18 2012 53.86749
19 2013 51.69753
20 2014 50.95452
21 2015 52.46959

In [38]:
bostonAvgTempsByMonth <- summarize(groupBy(bostonDailyTemps, bostonDailyTemps$Month), 
                                  Average = avg(bostonDailyTemps$avgtemp))
bostonAvgTempsByMonth

SparkDataFrame[Month:int, Average:double]

In [39]:
collect(
  arrange(bostonAvgTempsByMonth, bostonAvgTempsByMonth$Month)
)

   Month Average
1   1    29.76667
2   2    31.47032
3   3    37.57604
4   4    47.08413
5   5    57.57803
6   6    66.10714
7   7    73.55038
8   8    71.68909
9   9    65.05762
10 10    54.73456
11 11    44.89366
12 12    34.99742

In [40]:
bostonAvgTempsByYearAndMonth <- summarize(groupBy(bostonDailyTemps, bostonDailyTemps$Year, bostonDailyTemps$Month), 
                                  Average = avg(bostonDailyTemps$avgtemp))
bostonAvgTempsByYearAndMonth

SparkDataFrame[Year:int, Month:int, Average:double]

In [41]:
collect(
  arrange(bostonAvgTempsByYearAndMonth, bostonAvgTempsByYearAndMonth$Year, bostonAvgTempsByYearAndMonth$Month)
)

    Year Month Average
1   1995  1    34.51935
2   1995  2    28.57500
3   1995  3    38.03871
4   1995  4    45.42000
5   1995  5    56.69677
6   1995  6    68.47667
7   1995  7    75.57419
8   1995  8    72.52581
9   1995  9    62.93667
10  1995 10    58.07742
11  1995 11    42.20333
12  1995 12    31.04194
13  1996  1    30.04516
14  1996  2    30.71034
15  1996  3    26.99355
16  1996  4    27.20000
17  1996  5    51.57419
18  1996  6    66.72667
19  1996  7    71.46452
20  1996  8    70.37419
21  1996  9    63.72667
22  1996 10    53.51613
23  1996 11    40.15000
24  1996 12    39.25484
25  1997  1    29.02258
26  1997  2    36.32500
27  1997  3    36.59032
28  1997  4    45.82333
29  1997  5    55.48710
30  1997  6    67.87333
⋮   ⋮    ⋮     ⋮
222 2013  6    68.80000
223 2013  7    76.05161
224 2013  8    71.67419
225 2013  9    64.59667
226 2013 10    56.28065
227 2013 11    42.61000
228 2013 12    33.29355
229 2014  1    26.78710
230 2014  2    29.05714
231 2014  3    33.06129
232 2014  4    47.81000
233 2014  5    58.10645
234 2014  6    68.11333
235 2014  7    73.54516
236 2014  8    70.27097
237 2014  9    65.94000
238 2014 10    56.24194
239 2014 11    42.64333
240 2014 12    38.42581
241 2015  1    26.41613
242 2015  2    19.50357
243 2015  3    32.83871
244 2015  4    47.81667
245 2015  5    61.81935
246 2015  6    63.80333
247 2015  7    73.16129
248 2015  8    73.84516
249 2015  9    68.78333
250 2015 10    53.93548
251 2015 11    53.14000

In [42]:
bostonYears <- select(bostonDailyTemps, 'year')
bostonYears

SparkDataFrame[year:int]

In [43]:
distinctBostonYears <- distinct(bostonYears)
distinctBostonYears

SparkDataFrame[year:int]

In [44]:
yearsDF <- collect(distinct(bostonYears))
yearsDF

   year
1  2003
2  2007
3  2015
4  2006
5  2013
6  1997
7  2014
8  2004
9  1996
10 1998
11 2012
12 2009
13 1995
14 2001
15 2005
16 2000
17 2010
18 2011
19 2008
20 1999
21 2002

In [45]:
yearsDF[order(yearsDF$year), ]

 [1] 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
[16] 2010 2011 2012 2013 2014 2015

In [46]:
# Stop the SparkSession now
sparkR.session.stop()