# SparkR Sample - USA Zip Codes (JSON)

In [1]:
Sys.getenv("SPARK_HOME")

[1] "/Users/skalathur/MyApps/spark"

In [2]:
if (nchar(Sys.getenv("SPARK_HOME")) < 1) {
  Sys.setenv(SPARK_HOME = "/Users/skalathur/MyApps/spark")
}

In [3]:
Sys.setenv(SPARK_LOCAL_IP="localhost")

In [4]:
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window

The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union

In [5]:
sparkR.session(master = "local[*]", sparkConfig = list(spark.driver.memory = "2g"))

Spark package found in SPARK_HOME: /Users/skalathur/MyApps/spark

Launching java with spark-submit command /Users/skalathur/MyApps/spark/bin/spark-submit   --driver-memory "2g" sparkr-shell /var/folders/s3/hy6_p79n3w1fw802t6ps40qr0000gp/T//RtmpU1hhYU/backend_port14428531fffa5

Java ref type org.apache.spark.sql.SparkSession id 1

In [6]:
inputFile <- "/temp/datasets/usa_zipcodes.json"

In [7]:
usaZipCodes <- read.df(inputFile, source = "json", 
                         inferSchema='true')

usaZipCodes

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [8]:
printSchema(usaZipCodes)

root
 |-- _id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- loc: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- pop: long (nullable = true)
 |-- state: string (nullable = true)

In [9]:
count(usaZipCodes)

[1] 29467

In [10]:
head(usaZipCodes)

  _id   city        loc                 pop   state
1 01001 AGAWAM      -72.62274, 42.07021 15338 MA
2 01002 CUSHMAN     -72.51565, 42.37702 36963 MA
3 01005 BARRE       -72.10835, 42.40970  4546 MA
4 01007 BELCHERTOWN -72.41095, 42.27510 10579 MA
5 01008 BLANDFORD   -72.93611, 42.18295  1240 MA
6 01010 BRIMFIELD   -72.18846, 42.11654  3706 MA

In [11]:
collect(subset(usaZipCodes, usaZipCodes$pop <= 100))

    _id   city             loc                  pop state
1   01338 BUCKLAND         -72.76412, 42.61517  16  MA
2   01350 MONROE           -72.96016, 42.72389  97  MA
3   02163 CAMBRIDGE        -71.14188, 42.36400   0  MA
4   02713 CUTTYHUNK        -70.87854, 41.44360  98  MA
5   02815 CLAYVILLE        -71.67059, 41.77776  45  RI
6   03232 EAST HEBRON      -71.76791, 43.69697  47  NH
7   03291 WEST NOTTINGHAM  -71.11101, 43.13397  27  NH
8   03817 CHOCORUA         -71.24072, 43.89085  70  NH
9   03838 GLEN             -71.19246, 44.10178  84  NH
10  04013 BUSTINS ISLAND   -70.04225, 43.79602   0  ME
11  04019 CLIFF ISLAND     -70.10710, 43.69555  87  ME
12  04109 CUSHING ISLAND   -70.20220, 43.67497  28  ME
13  04235 FRYE             -70.56532, 44.59948  28  ME
14  04278 RUMFORD CENTER   -70.70006, 44.59233  92  ME
15  04279 RUMFORD POINT    -70.70028, 44.55710  36  ME
16  04442 GREENVILLE JUNCT -69.63753, 45.48839  99  ME
17  04563 CUSHING          -69.27206, 43.98674  12  ME
18  04567 SMALL POINT      -69.84116, 43.73172  66  ME
19  04570 SQUIRREL ISLAND  -69.63097, 43.80903   3  ME
20  04645 ISLE AU HAUT     -68.62060, 44.05606  46  ME
21  04673 SARGENTVILLE     -68.70522, 44.33450  43  ME
22  04678 SOUTH GOULDSBORO -68.03041, 44.47163  58  ME
23  04737 CLAYTON LAKE     -69.62645, 46.62980  54  ME
24  04764 OXBOW            -68.52179, 46.40196  76  ME
25  04852 MONHEGAN         -69.31643, 43.76422  88  ME
26  04985 WEST FORKS       -69.98406, 45.38390  86  ME
27  05073 TAFTSVILLE       -72.46733, 43.62982  35  VT
28  05405 UNIV OF VERMONT  -73.20020, 44.47773   0  VT
29  05447 EAST BERKSHIRE   -72.70656, 44.92980  94  VT
30  05748 HANCOCK          -72.91329, 43.91253  98  VT
⋮   ⋮     ⋮                ⋮                    ⋮   ⋮
691 99147 LINCOLN          -118.48101, 47.78204 31  WA
692 99345 PATERSON         -119.75587, 45.99114 94  WA
693 99402 ASOTIN           -117.00155, 46.13432 89  WA
694 99563 CHEVAK           -164.77646, 61.58398  0  AK
695 99569 CLARKS POINT     -158.45124, 58.84921 68  AK
696 99574 CHENEGA BAY      -147.94332, 60.10256 96  AK
697 99575 CROOKED CREEK    -158.00248, 61.81807  1  AK
698 99580 EKWOK            -157.47821, 59.36279 77  AK
699 99581 EMMONAK          -164.1313, 62.8274    0  AK
700 99583 FALSE PASS       -163.43685, 54.84103 68  AK
701 99590 GRAYLING         -159.40491, 63.37201  0  AK
702 99633 NAKNEK           -156.7054, 58.8857    0  AK
703 99638 NIKOLSKI         -168.78843, 52.98834 42  AK
704 99647 PEDRO BAY        -153.82186, 59.92238 59  AK
705 99649 PILOT POINT      -157.44927, 57.59519 63  AK
706 99651 PLATINUM         -162.04320, 58.63364  4  AK
707 99653 PORT ALSWORTH    -154.43380, 60.63642  7  AK
708 99657 RUSSIAN MISSION  -161.5584, 61.5913    0  AK
709 99668 SLEETMUTE        -157.11828, 61.63455  0  AK
710 99683 TRAPPER CREEK    -150.28446, 61.44136 20  AK
711 99692 DUTCH HARBOR     -167.51066, 53.36276  3  AK
712 99733 CIRCLE           -144.08262, 65.82454 73  AK
713 99745 HUGHES           -154.26443, 66.03825 64  AK
714 99755 DENALI NATIONAL  -149.53953, 63.51608 27  AK
715 99757 LAKE MINCHUMINA  -152.43008, 63.90388 32  AK
716 99767 RAMPART          -150.01120, 65.38363 68  AK
717 99770 SELAWIK          -158.53429, 65.71354  0  AK
718 99773 SHUNGNAK         -157.61350, 66.95814  0  AK
719 99786 AMBLER           -156.45565, 67.46951  8  AK
720 99788 CHALKYITSIK      -143.6381, 66.7190   99  AK

In [12]:
# Keep only the zip codes with population > 100

usaZipCodes <- subset(usaZipCodes, usaZipCodes$pop > 100)
usaZipCodes

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [13]:
maxAndMin <- summarize(usaZipCodes, MaxPop = max(usaZipCodes$pop),
                       MinPop = min(usaZipCodes$pop))
maxAndMin

SparkDataFrame[MaxPop:bigint, MinPop:bigint]

In [14]:
localDf <- collect(maxAndMin)
localDf

  MaxPop MinPop
1 112047 101

## Number of zip codes in each state

In [15]:
zipCodesByState <-  summarize(groupBy(usaZipCodes, usaZipCodes$state), 
                              Count = n(usaZipCodes$state))

zipCodesByState

SparkDataFrame[state:string, Count:bigint]

In [16]:
count(zipCodesByState)

[1] 51

In [17]:
collect(zipCodesByState)

   state Count
1  SC     347
2  AZ     260
3  LA     457
4  MN     877
5  NJ     535
6  DC      22
7  OR     363
8  VA     802
9  RI      69
10 KY     791
11 WY     123
12 NH     214
13 MI     869
14 NV      96
15 WI     706
16 ID     225
17 CA    1475
18 CT     260
19 NE     572
20 MT     290
21 NC     698
22 VT     238
23 MD     415
24 DE      53
25 MO     989
26 IL    1232
27 ME     395
28 ND     376
29 WA     474
30 MS     359
31 AL     564
32 IN     675
33 OH    1007
34 TN     575
35 IA     914
36 NM     231
37 PA    1434
38 SD     362
39 NY    1546
40 TX    1628
41 WV     618
42 GA     631
43 MA     470
44 KS     707
45 FL     820
46 CO     397
47 AK     169
48 AR     569
49 OK     576
50 UT     194
51 HI      78

In [18]:
collect(arrange(zipCodesByState, zipCodesByState$state))

   state Count
1  AK     169
2  AL     564
3  AR     569
4  AZ     260
5  CA    1475
6  CO     397
7  CT     260
8  DC      22
9  DE      53
10 FL     820
11 GA     631
12 HI      78
13 IA     914
14 ID     225
15 IL    1232
16 IN     675
17 KS     707
18 KY     791
19 LA     457
20 MA     470
21 MD     415
22 ME     395
23 MI     869
24 MN     877
25 MO     989
26 MS     359
27 MT     290
28 NC     698
29 ND     376
30 NE     572
31 NH     214
32 NJ     535
33 NM     231
34 NV      96
35 NY    1546
36 OH    1007
37 OK     576
38 OR     363
39 PA    1434
40 RI      69
41 SC     347
42 SD     362
43 TN     575
44 TX    1628
45 UT     194
46 VA     802
47 VT     238
48 WA     474
49 WI     706
50 WV     618
51 WY     123

In [19]:
collect(arrange(zipCodesByState, desc(zipCodesByState$Count)))

   state Count
1  TX    1628
2  NY    1546
3  CA    1475
4  PA    1434
5  IL    1232
6  OH    1007
7  MO     989
8  IA     914
9  MN     877
10 MI     869
11 FL     820
12 VA     802
13 KY     791
14 KS     707
15 WI     706
16 NC     698
17 IN     675
18 GA     631
19 WV     618
20 OK     576
21 TN     575
22 NE     572
23 AR     569
24 AL     564
25 NJ     535
26 WA     474
27 MA     470
28 LA     457
29 MD     415
30 CO     397
31 ME     395
32 ND     376
33 OR     363
34 SD     362
35 MS     359
36 SC     347
37 MT     290
38 AZ     260
39 CT     260
40 VT     238
41 NM     231
42 ID     225
43 NH     214
44 UT     194
45 AK     169
46 WY     123
47 NV      96
48 HI      78
49 RI      69
50 DE      53
51 DC      22

## 10 Most populous zip codes

In [20]:
arrange(usaZipCodes, desc(usaZipCodes$pop))

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [21]:
head(arrange(usaZipCodes, desc(usaZipCodes$pop)), n = 10)

   _id   city         loc                  pop    state
1  60623 CHICAGO      -87.71570, 41.84902  112047 IL
2  11226 BROOKLYN     -73.95699, 40.64669  111396 NY
3  10021 NEW YORK     -73.95880, 40.76848  106564 NY
4  10025 NEW YORK     -73.96831, 40.79747  100027 NY
5  90201 BELL GARDENS -118.17205, 33.96918  99568 CA
6  60617 CHICAGO      -87.55601, 41.72574   98612 IL
7  90011 LOS ANGELES  -118.25819, 34.00786  96074 CA
8  60647 CHICAGO      -87.70432, 41.92090   95971 IL
9  60628 CHICAGO      -87.62428, 41.69344   94317 IL
10 90650 NORWALK      -118.08177, 33.90564  94188 CA

## Most populous states

In [22]:
popByState <-  summarize(groupBy(usaZipCodes, usaZipCodes$state), 
                              TotalPop = sum(usaZipCodes$pop))

popByState

SparkDataFrame[state:string, TotalPop:bigint]

In [23]:
count(popByState)

[1] 51

In [24]:
collect(popByState)

   state TotalPop
1  SC     3486578
2  AZ     3664722
3  LA     4219523
4  MN     4374503
5  NJ     7729991
6  DC      606868
7  OR     2841361
8  VA     6186121
9  RI     1003419
10 KY     3683669
11 WY      452722
12 NH     1109024
13 MI     9295060
14 NV     1201366
15 WI     4891317
16 ID     1005753
17 CA    29758155
18 CT     3286943
19 NE     1578207
20 MT      797589
21 NC     6628251
22 VT      562524
23 MD     4781093
24 DE      666168
25 MO     5113794
26 IL    11430349
27 ME     1227026
28 ND      637322
29 WA     4866199
30 MS     2572971
31 AL     4040533
32 IN     5544061
33 OH    10847077
34 TN     4876062
35 IA     2776234
36 NM     1513103
37 PA    11880512
38 SD      694574
39 NY    17988283
40 TX    16984340
41 WV     1791298
42 GA     6478100
43 MA     6016214
44 KS     2476552
45 FL    12937753
46 CO     3293351
47 AK      549164
48 AR     2350382
49 OK     3144943
50 UT     1722387
51 HI     1108138

In [25]:
head(arrange(popByState, desc(popByState$TotalPop)))

  state TotalPop
1 CA    29758155
2 NY    17988283
3 TX    16984340
4 FL    12937753
5 PA    11880512
6 IL    11430349

In [26]:
# Stop the SparkSession now
sparkR.session.stop()