# SparkSQL R Sample - USA Zip Codes (JSON)

In [1]:
Sys.getenv("SPARK_HOME")

[1] "/Users/skalathur/MyApps/spark"

In [2]:
if (nchar(Sys.getenv("SPARK_HOME")) < 1) {
  Sys.setenv(SPARK_HOME = "/Users/skalathur/MyApps/spark")
}

In [3]:
Sys.setenv(SPARK_LOCAL_IP="localhost")

In [4]:
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window

The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union

In [5]:
sparkR.session(master = "local[*]", sparkConfig = list(spark.driver.memory = "2g"))

Spark package found in SPARK_HOME: /Users/skalathur/MyApps/spark

Launching java with spark-submit command /Users/skalathur/MyApps/spark/bin/spark-submit   --driver-memory "2g" sparkr-shell /var/folders/s3/hy6_p79n3w1fw802t6ps40qr0000gp/T//RtmpTrgpVP/backend_portdf5a58a4b339

Java ref type org.apache.spark.sql.SparkSession id 1

In [6]:
inputFile <- "/temp/datasets/usa_zipcodes.json"

In [7]:
usaZipCodes <- read.df(inputFile, source = "json", 
                         inferSchema='true')

usaZipCodes

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [8]:
printSchema(usaZipCodes)

root
 |-- _id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- loc: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- pop: long (nullable = true)
 |-- state: string (nullable = true)

In [9]:
count(usaZipCodes)

[1] 29467

In [10]:
head(usaZipCodes)

  _id   city        loc                 pop   state
1 01001 AGAWAM      -72.62274, 42.07021 15338 MA
2 01002 CUSHMAN     -72.51565, 42.37702 36963 MA
3 01005 BARRE       -72.10835, 42.40970  4546 MA
4 01007 BELCHERTOWN -72.41095, 42.27510 10579 MA
5 01008 BLANDFORD   -72.93611, 42.18295  1240 MA
6 01010 BRIMFIELD   -72.18846, 42.11654  3706 MA

In [11]:
persist(usaZipCodes, "MEMORY_AND_DISK")

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [12]:
createOrReplaceTempView(usaZipCodes, "usaZipCodesTable")

In [13]:
# Keep only the zip codes with population > 100

query <- "SELECT * FROM usaZipCodesTable WHERE pop > 100"
query

[1] "SELECT * FROM usaZipCodesTable WHERE pop > 100"

In [14]:
usaZipCodes <- sql(query)
usaZipCodes

SparkDataFrame[_id:string, city:string, loc:array<double>, pop:bigint, state:string]

In [15]:
createOrReplaceTempView(usaZipCodes, "usaZipCodesTable")

In [16]:
query <- "SELECT max(pop) as MaxPop, min(pop) as MinPop from usaZipCodesTable"
query

[1] "SELECT max(pop) as MaxPop, min(pop) as MinPop from usaZipCodesTable"

In [17]:
maxAndMin <- sql(query)
maxAndMin

SparkDataFrame[MaxPop:bigint, MinPop:bigint]

In [18]:
localDf <- collect(maxAndMin)
localDf

  MaxPop MinPop
1 112047 101

## Number of zip codes in each state

In [19]:
query <- "SELECT state, count(*) as Count FROM usaZipCodesTable GROUP BY state"
query

[1] "SELECT state, count(*) as Count FROM usaZipCodesTable GROUP BY state"

In [20]:
zipCodesByState <- sql(query)
zipCodesByState

SparkDataFrame[state:string, Count:bigint]

In [21]:
count(zipCodesByState)

[1] 51

In [22]:
collect(zipCodesByState)

   state Count
1  SC     347
2  AZ     260
3  LA     457
4  MN     877
5  NJ     535
6  DC      22
7  OR     363
8  VA     802
9  RI      69
10 KY     791
11 WY     123
12 NH     214
13 MI     869
14 NV      96
15 WI     706
16 ID     225
17 CA    1475
18 CT     260
19 NE     572
20 MT     290
21 NC     698
22 VT     238
23 MD     415
24 DE      53
25 MO     989
26 IL    1232
27 ME     395
28 ND     376
29 WA     474
30 MS     359
31 AL     564
32 IN     675
33 OH    1007
34 TN     575
35 IA     914
36 NM     231
37 PA    1434
38 SD     362
39 NY    1546
40 TX    1628
41 WV     618
42 GA     631
43 MA     470
44 KS     707
45 FL     820
46 CO     397
47 AK     169
48 AR     569
49 OK     576
50 UT     194
51 HI      78

In [23]:
query <- "SELECT state, count(*) as Count FROM usaZipCodesTable 
            GROUP BY state ORDER BY state"
query

[1] "SELECT state, count(*) as Count FROM usaZipCodesTable \n            GROUP BY state ORDER BY state"

In [24]:
collect(sql(query))

   state Count
1  AK     169
2  AL     564
3  AR     569
4  AZ     260
5  CA    1475
6  CO     397
7  CT     260
8  DC      22
9  DE      53
10 FL     820
11 GA     631
12 HI      78
13 IA     914
14 ID     225
15 IL    1232
16 IN     675
17 KS     707
18 KY     791
19 LA     457
20 MA     470
21 MD     415
22 ME     395
23 MI     869
24 MN     877
25 MO     989
26 MS     359
27 MT     290
28 NC     698
29 ND     376
30 NE     572
31 NH     214
32 NJ     535
33 NM     231
34 NV      96
35 NY    1546
36 OH    1007
37 OK     576
38 OR     363
39 PA    1434
40 RI      69
41 SC     347
42 SD     362
43 TN     575
44 TX    1628
45 UT     194
46 VA     802
47 VT     238
48 WA     474
49 WI     706
50 WV     618
51 WY     123

## 10 Most populous zip codes

In [25]:
collect(sql("SELECT * FROM usaZipCodesTable ORDER BY pop DESC LIMIT 10"))

   _id   city         loc                  pop    state
1  60623 CHICAGO      -87.71570, 41.84902  112047 IL
2  11226 BROOKLYN     -73.95699, 40.64669  111396 NY
3  10021 NEW YORK     -73.95880, 40.76848  106564 NY
4  10025 NEW YORK     -73.96831, 40.79747  100027 NY
5  90201 BELL GARDENS -118.17205, 33.96918  99568 CA
6  60617 CHICAGO      -87.55601, 41.72574   98612 IL
7  90011 LOS ANGELES  -118.25819, 34.00786  96074 CA
8  60647 CHICAGO      -87.70432, 41.92090   95971 IL
9  60628 CHICAGO      -87.62428, 41.69344   94317 IL
10 90650 NORWALK      -118.08177, 33.90564  94188 CA

## Most populous states

In [26]:
query <- "SELECT state, sum(pop) as TotalPop FROM usaZipCodesTable 
                GROUP BY state ORDER BY TotalPop DESC"
query

[1] "SELECT state, sum(pop) as TotalPop FROM usaZipCodesTable \n                GROUP BY state ORDER BY TotalPop DESC"

In [27]:
popByState <-  sql(query)
popByState

SparkDataFrame[state:string, TotalPop:bigint]

In [28]:
count(popByState)

[1] 51

In [29]:
collect(popByState)

   state TotalPop
1  CA    29758155
2  NY    17988283
3  TX    16984340
4  FL    12937753
5  PA    11880512
6  IL    11430349
7  OH    10847077
8  MI     9295060
9  NJ     7729991
10 NC     6628251
11 GA     6478100
12 VA     6186121
13 MA     6016214
14 IN     5544061
15 MO     5113794
16 WI     4891317
17 TN     4876062
18 WA     4866199
19 MD     4781093
20 MN     4374503
21 LA     4219523
22 AL     4040533
23 KY     3683669
24 AZ     3664722
25 SC     3486578
26 CO     3293351
27 CT     3286943
28 OK     3144943
29 OR     2841361
30 IA     2776234
31 MS     2572971
32 KS     2476552
33 AR     2350382
34 WV     1791298
35 UT     1722387
36 NE     1578207
37 NM     1513103
38 ME     1227026
39 NV     1201366
40 NH     1109024
41 HI     1108138
42 ID     1005753
43 RI     1003419
44 MT      797589
45 SD      694574
46 DE      666168
47 ND      637322
48 DC      606868
49 VT      562524
50 AK      549164
51 WY      452722

In [30]:
# Stop the SparkSession now
sparkR.session.stop()